//
// akd.io » scss/common/layout.scss
//

//
// Variables
//
$columnMaxWidth: 800px;
$dottyBorder: 1px dotted #ccc;

//
// Misc
//
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

//
// Header
//
h1.site-title {
  font-size: 400%;
  padding: 1.5rem;

  a {
    color: black;
    border-bottom: $dottyBorder;

    &:hover {
      text-decoration: none;
      color: #333;
    }
  }
}
@media screen and (max-width: 480px) {
  h1.site-title {
    font-size: 200%;
    padding: 1rem;
  }
}

h2.site-description {
  font-size: 90%;
}
@media screen and (max-width: 480px) {
  h2.site-description {
    display: none;
  }
}

nav.site-navigation {
  ul {
    list-style: none;
    padding: 0;
    margin: 2.5rem auto;
    max-width: $columnMaxWidth;

    border-top: $dottyBorder;
    border-bottom: $dottyBorder;
  }
  ul li {
    display: inline-block;
    margin: 0 1.75rem;
    padding: 0.75rem 0;
  }
  li a {
    color: black;
    font-size: 70%;

    &:hover {
      color: #333;
    }
  }
}
@media screen and (max-width: 480px) {
  nav.site-navigation {
    ul {
    }
    ul li {
      display: block;
    }
  }
}

//
// Main
//
main {
  max-width: $columnMaxWidth;
  position: relative;
  margin-top: -1.5rem;

  div.columns {
    margin: 1.5rem 0;
  }

  div.columns:not(:first-child) {
    margin: 1.5rem 0;
    border-top: $dottyBorder;
  }

  article {
    h2 {
      font-size: 100%;
    }
    p.date {
      font-size: 80%;
      margin-top: 0.25rem;
      color: #666;
    }
    section {
      //
    }
    p.metadata {
      font-size: 80%;
      color: #666;
    }
  }
}
