/* ==================================Layout======================================== */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

// reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: $lightgrey;
}

// layout

header {
  width: 100%;
  float: right;
	overflow: hidden;
  margin-bottom: 250px;
  background: $primaryColor;
  color: $secondaryColor;
}

.navigation {
  padding: 5% 0;
  display: inline-block;
  text-align: center;
  a {
    text-decoration: none;
    margin-right: $medium;
		color: $secondaryColor;
		font-family: $primaryFont;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 10px;
		&:hover {
			cursor: pointer;
			color: $tertiaryColor;
		}
  }
	.active {
		color: $tertiaryColor;
	}
	@include mq($tab--lrg){
		padding: 2% 0;
	}
}

.nav-item {
	width: 50%;
	margin: 0 auto;
	padding: 0.5%;
	overflow: hidden;
	float: left;
	position: relative;
	@include mq($tab--lrg){
		width: 100%;
		text-align: center;
		padding: 0;
	}
}

.ip {
	line-height: 40px;
	align: right;
	text-align: right;
	@include mq($tab--lrg){
		text-align: center;
		padding: 0;
		margin: 0;
	}
}

.masthead {
  width: 100%;
  float: right;
  min-height: 500px;
  position: fixed;
  z-index: -1;
	border-bottom: 1px solid $grey;
  &--home {
      @extend .masthead;
      background: url("../img/LIF1.png") $black center center;
  }
	&--rules {
      @extend .masthead;
      background: url("../img/LIF2.png") $black center center;
  }
	&--events {
      @extend .masthead;
      background: url("../img/LIF3.png") $black center center;
  }
	&--screenshots {
      @extend .masthead;
      background: url("../img/LIF4.png") $black center center;
  }
	&--contact {
      @extend .masthead;
      background: url("../img/LIF4.png") $black center center;
  }
}

.title {
		position: fixed;
    width: 100%;
    margin-top: 150px;
}

main {
  width: 100%;
	max-width: 960px;
	margin: 0 auto;
  margin-top: 150px;
  background: $secondaryColor;
	overflow: hidden;
  padding: 1% 0;
  border: 1px solid $grey;
	border-top-left-radius: 50px;
		-moz-border-top-left-radius: 50px;
		-webkit-border-top-left-radius: 50px;
		-o-border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
			-moz-bottom-right-radius: 50px;
			-webkit-bottom-right-radius: 50px;
			-o-bottom-right-radius: 50px;
}

footer {
	width: 100%;
  float: right;
	overflow: hidden;
	padding: 2%;
	margin-top: 25px;
	background: $lightgrey;
  color: $primaryColor;
	border-bottom: 20px solid $black;
	.footer-items {
		width: 100%;
		display: inline-block;
	}
}

.scale-img {
	width: 100%;
	margin: 2% 0;
	border: 1px solid $grey;
}

.bg-grey {background: $grey;}
.bg-white {background: $white;}
.bg-orange {background: $orange;}
.bg-black {background: $black;}
