/* ==================================Layout======================================== */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

// Reset

/*
 	Reset
	http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: $lightgrey;
}

// Default layout styles

header {
  width: 100%;
  float: right;
	overflow: hidden;
	z-index: 10;
  background: $primaryColor;
  color: $secondaryColor;
	margin-bottom: 350px;

	&.no-margin-bottom {
		margin-bottom: none !important;
	}
}

.nav-toggle {
	display: none;
	width: 100%;
	text-align: center;
	font-family: $primaryFont;
	color: $secondaryColor;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 0 0 0;
	cursor: pointer;
	@include mq($mob--lrg){
		display: block;
	}
}

.navigation {
  padding: 5% 0;
  display: inline-block;
  text-align: center;
  a {
    text-decoration: none;
    margin-right: $medium;
		color: $secondaryColor;
		font-family: $primaryFont;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 10px;
		&:hover {
			cursor: pointer;
			color: $tertiaryColor;
		}
		@include mq($mob--lrg){
			display: block;
			margin-top: 20px;
			margin-right: 0;
		}
		@include mq($mob--lrg){
			&:first-child{
				margin: 0;
			}
		}
  }
	.active {
		color: $tertiaryColor;
	}
	@include mq($mob--lrg){
		display: none;
		padding: 2% 0;
	}
}

.nav-item {
	float: left;
	position: relative;
	overflow: hidden;
	&.nav-left {
		@extend .nav-item;
		width: 65.5%;
	}
	&.nav-right {
		@extend .nav-item;
		margin-top: 2.5%;
	}
	@include mq($tab--lrg){
		width: 100%;
		text-align: center;
		padding: 0;
	}
	@include mq($mob--lrg){
		margin-top: 10px;
		&:last-child{
			border-top: 1px solid $secondaryColor;
		}
	}
}

.ip {
	padding: 0;
	margin: 0;
	@include mq($tab--lrg){
		text-align: center;
	}
}

.donate {
	position: absolute;
	width: 200px;
	height: 250px;
	overflow: hidden;
	top: 25px;
	margin-top: 25px;
	right: 10px;
	z-index: -1;
	img {
		width: 80%;
	}
	@include mq($tab--lrg){
		width: 170px;
		width: 170px;
		right: 0;
		img {
			width: 85%;
		}
	}
	@include mq($mob--lrg){
		width: 150px;
		height: 150px;
	}
}

.donate-anchor {
	position: absolute;
	width: 200px;
	height: 250px;
	overflow: hidden;
	top: 25px;
	margin-top: 25px;
	right: 10px;
	z-index: 0;
	@include mq($tab--lrg){
		width: 170px;
		width: 170px;
		right: 0;
	}
	@include mq($mob--lrg){
		width: 150px;
		height: 150px;
	}
}

.masthead {
  width: 100%;
  float: right;
  min-height: 700px;
  position: absolute;
  z-index: -2;
	border-bottom: 1px solid $grey;
  &--home {
      @extend .masthead;
      background: url("../img/LIF1.jpg") 50% 0 repeat fixed $black;
  }
	&--rules {
      @extend .masthead;
      background: url("../img/LIF4.jpg") 50% 0 repeat fixed $black;
  }
	&--events {
      @extend .masthead;
      background: url("../img/LIF2.jpg") 50% 0 repeat fixed $black;
  }
	&--screenshots {
      @extend .masthead;
      background: url("../img/LIF6.jpg") 50% 0 repeat fixed $black;
  }
	&--money {
      @extend .masthead;
      background: url("../img/LIF7.jpg") 50% 0 repeat fixed $black;
  }
	&--contact {
      @extend .masthead;
      background: url("../img/LIF3.jpg") 50% 0 repeat fixed $black;
  }
}

main {
	width: 100%;
	max-width: 960px;
	height: auto;
	overflow: hidden;
	clear: both;
	height: auto;
	position: relative;
	margin: 0 auto;
  background: $secondaryColor;
	overflow: hidden;
  padding: 2% 0 5% 0;
  border: 1px solid $grey;
	border-top-left-radius: 50px;
		-moz-border-top-left-radius: 50px;
		-webkit-border-top-left-radius: 50px;
		-o-border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
			-moz-bottom-right-radius: 50px;
			-webkit-bottom-right-radius: 50px;
			-o-bottom-right-radius: 50px;
}

footer {
	width: 100%;
  float: right;
	overflow: hidden;
	padding: 2%;
	margin-top: 25px;
	background: #333;
  color: $primaryColor;
	border-bottom: 20px solid $black;
	.footer-items {
		width: 100%;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&.display-none {
		display: none !important;
	}
}

// Sitewide styles

.title {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 200px;
	width: 100%;
	z-index: -1;
	@include mq($mob--lrg){
		top: 200px;
	}
}

.scale-img {
	width: 100%;
	margin: 2% 0;
	border: 1px solid $grey;
}

.rules {
	background: $white;
	z-index: 1;
	display: block;
	position: fixed;
	top: 0;
	padding: 1%;
	font-family: $primaryFont;
	border-bottom-right-radius: 20px;
		-moz-bottom-right-radius: 20px;
		-webkit-bottom-right-radius: 20px;
		-o-bottom-right-radius: 20px;
		@include mq($mob){
			display: none;
		}
}

ol {
	margin-left: 1.5%;
	font-family: $primaryFont;
	font-size: $medium;
	margin-bottom: 5%;
	li {
		margin-bottom: 1%;
	}
 	ul {
		padding: 5%;
		font-family: $primaryFont;
		font-size: $medium;
	}
}

// Page Styles

.screenshots {
	width: 100%;
  float: right;
	overflow: hidden;
	.screenshots-item {
			display: inline-block;
			width: 250px;
			height: 250px;
			border: 1px solid $grey;
			overflow: hidden;
	}
	@include mq($tab--lrg){
		a	{
			display: inline-block;
			width: 50%;
			text-align: center;
			.screenshots-item {
				margin: 0 auto;
			}
		}
	}
	@include mq($mob--lrg){
		a {
			width: 100%;
		}
	}
}

.map {
	position: fixed;
	top: 72px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -2;
	@include mq($mob--lrg){
		top: 98px;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

// Misc

.bg-grey {background: $grey;}
.bg-white {background: $white;}
.bg-orange {background: $orange;}
.bg-black {background: $black;}
.display-none { display: none;}
@include mq($mob--lrg){
	.display-none { display: block;}
	.display { display: none;}
}

em { font-style: italic; }
strong { font-weight: bold; }
fieldset {
	border: 1px solid $grey;
	padding: 5%;
	margin: 0 0 20px 0;
}
